.videoAnimation {
opacity: 0;
transition: 1s cubic-bezier(0.48, 0.1, 0.07, 1.37);
}

.showVideo {
opacity: 1;
}

.leftSide {
position: relative;
left: -400px;
top: 0;
opacity: 0;
transition: 1.4s cubic-bezier(0.48, 0.1, 0.07, 1.37);
}

.showVideo .leftSide {
left: 0px;
opacity: 1;
/* animation: leftToPosition 3s; */
}

.whiteSpace {
height: 0px;
}

.showSpace {
height: 0px !important
}

b,
strong {
font-weight: bold !important;
}

h2 {
font-size: 35px !important;
}

h4 {
font-size: 20px !important;
}

a,
a:hover,
a:visited {
text-decoration: none !important;
}

.sticky {
position: absolute;
top: 0;
left: 0;
right: 0;
background: #fff0;
width: 100%;
max-width: 100%;
z-index: 99999;
}

.sticky .sf-menu>li>a {
color: #ffffff;
}

.sticky .sf-menu>li.current-menu-item>a {
color: #3db166;
}

.themeBg {
background-color: #3db166 !important;
color: #ffffff !important;
}

.fadeUp:hover {
cursor: pointer;
}

.fadeUp img,
.fadeUp h4,
.fadeUp p,
.fadeUp .btn {
transform: translateY(0px);
transition: 0.6s transform;
}

.fadeUp:hover img,
.fadeUp:hover h4,
.fadeUp:hover p,
.fadeUp:hover .btn {
transform: translateY(-2px);
transition: 0.6s transform;
}

.fadeUp:hover img,
.fadeUp img {
transition-delay: 0.05s;
}

.fadeUp:hover h4,
.fadeUp h4 {
transition-delay: 0.1s;
}

.fadeUp:hover p,
.fadeUp p {
transition-delay: 0.15s;
}

.fadeUp:hover .btn,
.fadeUp .btn {
transition-delay: 0.2s;
}

.field {
background: url("../img/vision_bg.jpg");
background-attachment: fixed;
background-size: cover;
background-position: center center;
height: 600px;
width: 100%;
display: flex;
vertical-align: middle;
text-align: center;
}

.resetStyle {
top: 200px;
background-attachment: scroll;
/* background-position: 0 200px; */
/* transition: 3s; */
}

.resetStyle .leftSide {
top: 200px
}

/* .fieldOverlay {
position: relative;
}

.fieldOverlay::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 128, 0, 0.25);
} */

.proBtn {
padding: 7px 0px;
border-bottom: 2px solid #ffffff;
color: #fff !important;
font-size: 16px !important;
text-transform: capitalize !important;
font-weight: 600 !important;
transform: translateY(30px);
}

.proBtn:hover {
transition: .3s ease-out;
}

.proBtn:hover .rightArrow {
margin-right: 5px;
transition: .3s all !important;
}

.textAni {
position: absolute;
right: 0;
bottom: 100px;
}

.quoteImg {
height: 40px !important;
transform: rotate(-180deg) !important;
margin-top: -58px !important;
margin-left: -43px;
}

.quoteDownImg {
height: 40px !important;
transform: rotateX(-180deg);
/* transform: rotate(180deg) !important; */
margin-top: -58px !important;
}

.textAnimation {
opacity: 1;
transition: .3s all;
}

.fadeText {
opacity: .6;
transition: .6s all;
}

.fadeTextExtra {
opacity: .3;
transition: .6s all;
}

.hoverLink:hover {
transition: 0.3s ease-in;
}

.field p {
color: #ffffff;
font-size: 20px;
margin: auto;
text-align: center;
position: relative;
}

.fieldText h2 {
text-align: left;
/* text-shadow: rgb(61, 177, 102) 0px 2px 4px; */
/* text-transform: uppercase; */
line-height: 1.3 !important;
}

#div_1dd7_112 .fa {
width: 40px;
height: 40px;
background: #3db166;
color: #ffffff;
line-height: 40px;
text-align: center;
border-radius: 2px;
transition: .3s ease-in;
border: 1px solid #3db166;
}

#div_1dd7_112 .fa:hover {
color: #3db166;
background: #ffffff;
}

.topic {
border: 1px solid rgba(62, 207, 142, 0.15);
}

.topic img {
height: 100%;
width: 100%;
object-fit: cover;
}

.fullScreen-video {
position: relative;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100vw;
height: 80vh;
}

#philosophy {
background: #1b2945;
}

.our {
background: #1d2f51;
clip-path: circle(50% at center);
transition: ease-in-out 0.3s;
}

#philosophy:hover .our {
clip-path: circle(100% at center);
}

#videoBg {
position: relative;
top: 0;
left: 0;
width: 100vw;
height: 79vh;
object-fit: cover;
}

.greenBg {
background-color: #38931a;
color: #ffffff !important;
}

.skyBg {
background-color: #0980da;
color: #ffffff !important;
}

.redBg {
background-color: #a60000;
color: #ffffff !important;
}

.lightBlueBg {
background-color: rgba(27, 41, 69, 0.13);
}

/* .searchFormlabel {
position: absolute;
top: 10px;
left: 5px;
transition: 0.3s ease-in-out;
} */

.cInput {
border: 1px solid #c7c7c7;
max-width: 1100px;
margin: 0 auto;
transition: all 0.3s ease-in-out;
}

.cInput,
.cInput:hover,
.cInput:focus {
position: relative;
outline: none !important;
box-shadow: none !important;
}

#searchForm {
border: 1px solid #3db166;
background: #ffffff;
transition: 0.3s ease-in;
border-radius: 0px !important;
height: 58px !important;
}

.mainSearch {
transition: 0.3s ease-in;
cursor: pointer;
border-radius: 0px !important;
}

#searchForm:focus,
#searchForm:focus+.mainSearch {
background: #3db166;
color: #ffffff;
}

.search {
color: #3db166;
}

#searchForm:focus+.mainSearch .search {
color: #ffffff;
}

input:focus::-webkit-input-placeholder {
color: #ffffff;
}

input:focus:-moz-placeholder {
color: #ffffff;
}

input:focus::-moz-placeholder {
color: #ffffff;
}

input:focus:-ms-input-placeholder {
color: #ffffff;
}

#searchForm1 {
border: 1px solid #3db166;
background: transparent !important;
padding: 0.35rem 0.85rem 0.35rem 0.85rem;
}

.bor {
border-bottom: 1px dashed rgba(0, 0, 0, 0.6) !important;
}

/* .searchInput:after {
content: " ";
position: absolute;
bottom: 0;
left: 0;
width: 0%;
height: 2px;
background-color: #38931a;
border-radius: 4px;
z-index: 2;
transition: 0.6s ease-in-out;
}

.searchInput:before {
content: " ";
position: absolute;
bottom: 0;
right: 0;
width: 0%;
height: 2px;
background-color: #38931a;
border-radius: 4px;
z-index: 2;
transition: 0.6s ease-in-out;
} */

.cInput:focus {
/* border-color: rgba(0, 0, 0, 0) !important; */
transition: 0.3s border-color;
transition-delay: 0.3s;
}

.cInput:focus+.searchInput:after,
.cInput:focus+.searchInput:before {
width: 50.1%;
transition: 0.6s all;
transition-delay: 0.2s;
}

.cInput:focus {
border-color: chartreuse;
}

.cInput .searchIcon {
margin-right: -64px;
transition: 0.3s ease-in;
border-radius: 0px !important;
}

.input-group-text {
border-radius: 0px !important;
}

.cInput:focus+.searchIcon {
margin-right: 0px;
}

.cShadow {
-webkit-box-shadow: 0 0px 10px rgba(62, 207, 142, 0.07);
box-shadow: 0 0px 10px rgba(62, 207, 142, 0.07);
border-radius: 4px;
}

.cShadow:hover {
-webkit-box-shadow: 0 0px 15px rgba(62, 207, 142, 0.1);
box-shadow: 0 0px 15px rgba(62, 207, 142, 0.1);
}

.cButton {
color: #38931a;
background: #ffffff;
text-shadow: 0 1px 3px rgba(62, 207, 142, 0.04);
white-space: nowrap;
display: inline-block;
height: 40px;
line-height: 40px;
padding: 0 14px;
-webkit-box-shadow: 0 0px 10px rgba(62, 207, 142, 0.07);
box-shadow: 0 0px 10px rgba(62, 207, 142, 0.07);
border-radius: 4px;
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.025em;
text-decoration: none;
-webkit-transition: all 0.15s ease;
transition: all 0.15s ease;
}

.cButton:hover {
-webkit-transform: translateY(-1px);
transform: translateY(-1px);
-webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
-webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
0 3px 6px rgba(0, 0, 0, 0.08);
box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

/* @media (min-aspect-ratio: 16/9) {
#videoBg {
width: 100%;
height: auto;
}
}

@media (max-aspect-ratio: 16/9) {
#videoBg {
width: auto;
height: 100%;
}
} */
.gdlr-core-flexslider .flex-direction-nav .flex-nav-prev {
left: -60px;
}

.gdlr-core-flexslider .flex-direction-nav .flex-nav-next {
right: -60px !important;
}

.gdlr-core-flexslider .flex-direction-nav li a i {
background: transparent;
border: 0px solid;
color: #222222;
font-size: 40px;
}

.gdlr-core-flexslider .flex-direction-nav li a {
color: #fff;
border: 0px solid #9990;
background: transparent;
transform: translateX(0px);
transition: 0.3s all;
}

.flex-nav-prev .flex-prev:hover {
transform: translateX(-3px);
}

.flex-nav-next .flex-next:hover {
transform: translateX(3px);
}

#exploreTopic h4 {
font-size: 28px !important;
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: #1b2945;
opacity: 0.6;
}

.hoverHeading {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
margin-top: 0px;
/* background-color: rgba(27, 41, 69, 0.3); */
transition: all 0.3s ease-in;
border-radius: 4px;
}

.irrigation {
height: 510px;
}

.irrigation img {
max-height: 510px;
width: 100%;
object-fit: cover;
border-radius: 4px;
}

.didYouKnow {
background: url(../img/Explore/Cotton2.jpg);
position: relative;
min-height: 410px;
}

.spotYourFungi {
background: url(../img/Explore/fungus.jpg);
background-position: center center;
background-size: cover;
position: relative;
min-height: 410px;
}

.didYouKnow::before,
.spotYourFungi::before,
.white-fly::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #0009;
padding: 1.25rem;
border-radius: 4px;
}

.blueBg {
background-color: #1b2945;
color: #ffffff !important;
}

.img1,
.img1 img {
height: 300px;
max-height: 250px;
width: 100%;
max-width: 100%;
}

.h300 {
min-height: 250px;
overflow: hidden;
}

.white-fly {
background: url(../img/home/G1.jpg);
}

.info {
background: #00000070;
border-radius: 4px;
color: #ffffff;
}

.bgColor {
background: #1b2945 !important;
border-color: #1b2945 !important;
color: #ffffff !important;
}

.bgColor:hover {
background: #1b2945 !important;
border-color: #1b2945 !important;
}

.cgridWrapper {
display: grid;
grid-gap: 5px;
}

.heading {
font-size: 26px !important;
}

.headingColor {
color: #333333 !important;
}

/* Products */

/* Products Hover info */

.whitFly{
position: relative;
}

.proInfo {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
transition: .7s ease-in-out;
opacity: 0;
background: #1B2945;
padding: 20px;
}

.whitFly:hover img {
transform: scale(1.07);
transition: .3s all;
cursor: pointer;
}

.product {
padding: 0 !important;
transition: 0.3s all;
min-height: 350px;
max-height: 350px;
overflow: hidden;
position: relative;
}

.product img {
width: 100%;
height: 300px;
object-fit: contain;
z-index: 1;
overflow: hidden;
}

.product .backImg {
opacity: 0;
width: 100%;
height: 100%;
transition: 0.9s ease-in-out;
}

.product:hover .backImg {
opacity: 1;
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
z-index: 2;
}

.frontImg {
opacity: 1;
z-index: 3;
}

.product:hover .frontImg {
opacity: 0;
z-index: 0;
height: 0;
}

.productInfo {
height: 0;
transition: 6s ease-in;
}

.product:hover .productInfo {
height: 100%;
transition: 0.6s cubic-bezier(0.51, -0.15, 0.74, 1.16);
background: rgba(234, 234, 234, 0.7);
position: absolute;
top: 0;
left: 0;
width: 100%;
border-radius: 4px;
padding: 4%;
display: flex;
justify-content: center;
align-items: center;
z-index: 9;
}

.product .productInfo h5,
.product .productInfo p {
opacity: 0;
display: block;
animation-delay: 0.3s;
width: 100%;
}

.product:hover .productInfo h5 {
animation: mymove 0.5s forwards;
animation-delay: 0.6s;
z-index: 999;
}

.product:hover .productInfo p {
animation: mymove 0.5s forwards;
animation-delay: 0.9s;
z-index: 999;
}

@keyframes mymove {
from {
opacity: 0;
transform: translateY(-10px);
}

to {
opacity: 1;
transform: translateY(20px);
}
}

.ourJourney,
.ourJourney h2 {
background-position: center center;
background-size: cover;
position: relative;
z-index: 2;
}

.ourJourney::before {
content: " ";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
z-index: 0;
/* background: url(../img/helpBg.jpg); */
background: url(../img/G1_B4_Irrigation.jpg);
background-size: cover;
background-position: center;
filter: blur(2px);
}

.bgTran {
background: #0006 !important;
}

.progress {
background: #0000;
display: block;
min-height: 80px;
filter: blur(0px);
}

.bgPro {
background: #fff8;
}

.progress h6 {
font-size: 20px;
margin-bottom: 10px;
color: #ffffff !important;
}

.progress h4 {
font-size: 30px !important;
}

.progress img {
height: 70px;
}

.f30 {
font-size: 30px !important;
}

.arrow {
position: relative;
overflow: hidden;
}

.arrow:before {
content: "";
position: absolute;
top: -20px;
left: 45%;
transform: translateY(-45%);
width: 30px;
height: 30px;
border: solid rgba(255, 255, 255, 0.57);
border-width: 0 30px 30px 0;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.arrow::after {
content: "";
position: absolute;
bottom: -20px;
left: 45%;
transform: translateY(-45%);
width: 20px;
height: 20px;
border: solid rgba(255, 255, 255, 0.57);
border-width: 30px 0px 0px 30px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.contact {
/* background: url(../img/Help.jpg); */
/* background-repeat: no-repeat;
background-position: center;
background-size: cover; */
background: #0005;
padding: 3%;
color: #fff;
border-radius: 4px;
}

#scrollToForm {
text-align: left;
position: absolute;
bottom: 50px;
left: 50%;
transform: translate(-60%, -50px);
width: 50px;
height: 70px;
transition: all ease-in-out 1s;
animation: float 1s linear infinite alternate;
}

#scrollPath {
fill: #ffffff;
transition: all ease-in-out 1s;
animation: float 1s linear infinite alternate;
}

@keyframes float {
0% {
bottom: -20px;
}

100% {
bottom: -10px;
}
}

.bgTrans {
background: transparent !important;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}

body {
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
font-size: 1rem;
font-weight: normal;
line-height: 1.4;
background: #ffffff;
color: #454545;
}

/* .container {
padding: 4rem 2rem;
margin: 0 auto;
max-width: 75rem;
width: 90%;
} */

.main .container .glider-contain .glider .card-image {
margin-right: 0.5rem;
background: #ffffff;
border: none;
outline: none;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
border-radius: 2px;
}

.main .container .glider-contain .glider .card-image img {
display: block;
position: relative;
left: 0;
bottom: 0;
width: 100%;
height: auto;
-o-object-fit: cover;
object-fit: cover;
}

.main .container .glider-contain .glider-prev,
.main .container .glider-contain .glider-next {
font-size: 1.5rem;
background: #454545;
color: #ffffff;
margin-top: 1rem;
width: 3rem;
height: 3rem;
line-height: 3rem;
border-radius: 50%;
}

.main .container .glider-contain .glider-prev .fas,
.main .container .glider-contain .glider-next .fas {
margin-left: 1rem;
}

@media only screen and (max-width: 768px) {

.main .glider-contain .glider-prev,
.main .glider-contain .glider-next {
display: none;
}
}

@media only screen and (min-width: 769px) {
.main .glider-contain .dots {
display: none;
}
}

/*---------- Client Says ----------*/
#testim {
margin-top: 40px;
margin-bottom: 40px;
}

.testim {
width: 100%;
position: relative;
top: 0%;
height: 270px;
-webkit-transform: translatey(0%);
-moz-transform: translatey(0%);
-ms-transform: translatey(0%);
-o-transform: translatey(0%);
transform: translatey(0%);
}

.testim .wrap {
position: relative;
width: 100%;
margin: auto;
}

/* .testim .arrow {
display: block;
position: absolute;
color: #eee;
cursor: pointer;
font-size: 5em;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
-webkit-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
padding: 5px;
z-index: 22222222;
}

.testim .arrow:before {
cursor: pointer;
}

.testim .arrow:hover {
color: #f7c441;
}


.testim .arrow.left {
left: 10px;
}

.testim .arrow.right {
right: 10px;
} */

.testim .dots {
text-align: center;
position: absolute;
width: 100%;
bottom: 60px;
left: 0;
display: block;
z-index: 3333;
height: 12px;
display: none;
}

.testim .dots .dot {
list-style-type: none;
display: inline-block;
width: 15px;
height: 15px;
border-radius: 50%;
border: 1px solid #eee;
margin: 0 10px;
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
background: #f7c441;
border-color: #f7c441;
}

.testim .dots .dot.active {
-webkit-animation: testim-scale 0.5s ease-in-out forwards;
-moz-animation: testim-scale 0.5s ease-in-out forwards;
-ms-animation: testim-scale 0.5s ease-in-out forwards;
-o-animation: testim-scale 0.5s ease-in-out forwards;
animation: testim-scale 0.5s ease-in-out forwards;
}

.testim .cont {
position: relative;
overflow: visible;
}

.testim .cont>div {
text-align: center;
position: absolute;
top: 0;
left: 0;
padding: 0 0 70px 0;
opacity: 0;
}

.testim .cont>div.inactive {
opacity: 1;
}

.testim .cont>div.active {
position: relative;
opacity: 1;
}

.testim .cont div .img {
width: 100%;
}

.testim .cont div .img img {
display: block;
width: auto;
height: 380px;
width: 380px;
object-fit: cover;
border-radius: 50%;
position: absolute;
top: -55px;
left: 0px;
border: 1px solid #d5d5d5;
padding: 20px;
}

.testim .cont div h2 {
color: #fff;
position: absolute;
top: 25px;
left: 47px;
font-size: 17px;
margin: 15px 0;
}

.testim .cont div .client_info {
text-align: left;
overflow: hidden !important;
padding-top: 20px;
}

.clientSay {
background-color: #1d2f51;
}

.client_info div {
padding: 2%;
width: 100%;
height: 100%;
}

.client_info h4 {
color: #fff;
font-size: 30px;
font-weight: 800;
font-family: "Raleway";
}

.client_info p {
color: #f2f2f2;
font-size: 18px;
font-family: "Raleway", Sans-serif;
}

.testim .cont div.active .img img {
-webkit-animation: testim-show 0.5s ease-in forwards;
-moz-animation: testim-show 0.5s ease-in forwards;
-ms-animation: testim-show 0.5s ease-in forwards;
-o-animation: testim-show 0.5s ease-in forwards;
animation: testim-show 0.5s ease-in forwards;
}

.testim .cont div.active h2 {
-webkit-animation: testim-content-in 0.4s ease-in forwards;
-moz-animation: testim-content-in 0.4s ease-in forwards;
-ms-animation: testim-content-in 0.4s ease-in forwards;
-o-animation: testim-content-in 0.4s ease-in forwards;
animation: testim-content-in 0.4s ease-in forwards;
}

.testim .cont div.active .client_info {
-webkit-animation: testim-content-in 0.5s ease-in forwards;
-moz-animation: testim-content-in 0.5s ease-in forwards;
-ms-animation: testim-content-in 0.5s ease-in forwards;
-o-animation: testim-content-in 0.5s ease-in forwards;
animation: testim-content-in 0.5s ease-in forwards;
overflow: hidden !important;
}

.testim .cont div.inactive .img img {
-webkit-animation: testim-hide 0.5s ease-in forwards;
-moz-animation: testim-hide 0.5s ease-in forwards;
-ms-animation: testim-hide 0.5s ease-in forwards;
-o-animation: testim-hide 0.5s ease-in forwards;
animation: testim-hide 0.5s ease-in forwards;
}

.testim .cont div.inactive h2 {
-webkit-animation: testim-content-in 0.5s ease-in forwards;
-moz-animation: testim-content-in 0.5s ease-in forwards;
-ms-animation: testim-content-in 0.5s ease-in forwards;
-o-animation: testim-content-in 0.5s ease-in forwards;
animation: testim-content-in 0.5s ease-in forwards;
}

.testim .cont div.inactive .client_info {
-webkit-animation: testim-content-out 0.5s ease-in forwards;
-moz-animation: testim-content-out 0.5s ease-in forwards;
-ms-animation: testim-content-out 0.5s ease-in forwards;
-o-animation: testim-content-out 0.5s ease-in forwards;
animation: testim-content-out 0.5s ease-in forwards;
overflow: hidden !important;
}

@-webkit-keyframes testim-scale {
0% {
-webkit-box-shadow: 0px 0px 0px 0px #eee;
box-shadow: 0px 0px 0px 0px #eee;
}

35% {
-webkit-box-shadow: 0px 0px 10px 5px #eee;
box-shadow: 0px 0px 10px 5px #eee;
}

70% {
-webkit-box-shadow: 0px 0px 10px 5px #ea830e;
box-shadow: 0px 0px 10px 5px #ea830e;
}

100% {
-webkit-box-shadow: 0px 0px 0px 0px #ea830e;
box-shadow: 0px 0px 0px 0px #ea830e;
}
}

@-moz-keyframes testim-scale {
0% {
-moz-box-shadow: 0px 0px 0px 0px #eee;
box-shadow: 0px 0px 0px 0px #eee;
}

35% {
-moz-box-shadow: 0px 0px 10px 5px #eee;
box-shadow: 0px 0px 10px 5px #eee;
}

70% {
-moz-box-shadow: 0px 0px 10px 5px #ea830e;
box-shadow: 0px 0px 10px 5px #ea830e;
}

100% {
-moz-box-shadow: 0px 0px 0px 0px #ea830e;
box-shadow: 0px 0px 0px 0px #ea830e;
}
}

@-ms-keyframes testim-scale {
0% {
-ms-box-shadow: 0px 0px 0px 0px #eee;
box-shadow: 0px 0px 0px 0px #eee;
}

35% {
-ms-box-shadow: 0px 0px 10px 5px #eee;
box-shadow: 0px 0px 10px 5px #eee;
}

70% {
-ms-box-shadow: 0px 0px 10px 5px #ea830e;
box-shadow: 0px 0px 10px 5px #ea830e;
}

100% {
-ms-box-shadow: 0px 0px 0px 0px #ea830e;
box-shadow: 0px 0px 0px 0px #ea830e;
}
}

@-o-keyframes testim-scale {
0% {
-o-box-shadow: 0px 0px 0px 0px #eee;
box-shadow: 0px 0px 0px 0px #eee;
}

35% {
-o-box-shadow: 0px 0px 10px 5px #eee;
box-shadow: 0px 0px 10px 5px #eee;
}

70% {
-o-box-shadow: 0px 0px 10px 5px #ea830e;
box-shadow: 0px 0px 10px 5px #ea830e;
}

100% {
-o-box-shadow: 0px 0px 0px 0px #ea830e;
box-shadow: 0px 0px 0px 0px #ea830e;
}
}

@keyframes testim-scale {
0% {
box-shadow: 0px 0px 0px 0px #eee;
}

35% {
box-shadow: 0px 0px 10px 5px #eee;
}

70% {
box-shadow: 0px 0px 10px 5px #ea830e;
}

100% {
box-shadow: 0px 0px 0px 0px #ea830e;
}
}

@-webkit-keyframes testim-content-in {
from {
opacity: 0;
-webkit-transform: translateX(100%);
transform: translateX(100%);
}

to {
opacity: 1;
-webkit-transform: translateX(0);
transform: translateX(0);
}
}

@-moz-keyframes testim-content-in {
from {
opacity: 0;
-moz-transform: translateX(100%);
transform: translateX(100%);
}

to {
opacity: 1;
-moz-transform: translateX(0);
transform: translateX(0);
}
}

@-ms-keyframes testim-content-in {
from {
opacity: 0;
-ms-transform: translateX(100%);
transform: translateX(100%);
}

to {
opacity: 1;
-ms-transform: translateX(0);
transform: translateX(0);
}
}

@-o-keyframes testim-content-in {
from {
opacity: 0;
-o-transform: translateX(100%);
transform: translateX(100%);
}

to {
opacity: 1;
-o-transform: translateX(0);
transform: translateX(0);
}
}

@keyframes testim-content-in {
from {
opacity: 0;
transform: translateX(100%);
}

to {
opacity: 1;
transform: translateX(0);
}
}

@-webkit-keyframes testim-content-out {
from {
opacity: 1;
-webkit-transform: translateX(0);
transform: translateX(0);
}

to {
opacity: 0;
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
}
}

@-moz-keyframes testim-content-out {
from {
opacity: 1;
-moz-transform: translateX(0);
transform: translateX(0);
}

to {
opacity: 0;
-moz-transform: translateX(-100%);
transform: translateX(-100%);
}
}

@-ms-keyframes testim-content-out {
from {
opacity: 1;
-ms-transform: translateX(0);
transform: translateX(0);
}

to {
opacity: 0;
-ms-transform: translateX(-100%);
transform: translateX(-100%);
}
}

@-o-keyframes testim-content-out {
from {
opacity: 1;
-o-transform: translateX(0);
transform: translateX(0);
}

to {
opacity: 0;
transform: translateX(-100%);
transform: translateX(-100%);
}
}

@keyframes testim-content-out {
from {
opacity: 1;
transform: translateX(0);
}

to {
opacity: 0;
transform: translateX(-100%);
}
}

@-webkit-keyframes testim-show {
from {
opacity: 0;
-webkit-transform: scale(0);
transform: scale(0);
}

to {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);
}
}

@-moz-keyframes testim-show {
from {
opacity: 0;
-moz-transform: scale(0);
transform: scale(0);
}

to {
opacity: 1;
-moz-transform: scale(1);
transform: scale(1);
}
}

@-ms-keyframes testim-show {
from {
opacity: 0;
-ms-transform: scale(0);
transform: scale(0);
}

to {
opacity: 1;
-ms-transform: scale(1);
transform: scale(1);
}
}

@-o-keyframes testim-show {
from {
opacity: 0;
-o-transform: scale(0);
transform: scale(0);
}

to {
opacity: 1;
-o-transform: scale(1);
transform: scale(1);
}
}

@keyframes testim-show {
from {
opacity: 0;
transform: scale(0);
}

to {
opacity: 1;
transform: scale(1);
}
}

@-webkit-keyframes testim-hide {
from {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);
}

to {
opacity: 0;
-webkit-transform: scale(0);
transform: scale(0);
}
}

@-moz-keyframes testim-hide {
from {
opacity: 1;
-moz-transform: scale(1);
transform: scale(1);
}

to {
opacity: 0;
-moz-transform: scale(0);
transform: scale(0);
}
}

@-ms-keyframes testim-hide {
from {
opacity: 1;
-ms-transform: scale(1);
transform: scale(1);
}

to {
opacity: 0;
-ms-transform: scale(0);
transform: scale(0);
}
}

@-o-keyframes testim-hide {
from {
opacity: 1;
-o-transform: scale(1);
transform: scale(1);
}

to {
opacity: 0;
-o-transform: scale(0);
transform: scale(0);
}
}

@keyframes testim-hide {
from {
opacity: 1;
transform: scale(1);
}

to {
opacity: 0;
transform: scale(0);
}
}

@media all and (max-width: 300px) {
body {
font-size: 14px;
}
}

@media all and (max-width: 500px) {
.testim .arrow {
font-size: 1.5em;
}

.testim .cont div p {
line-height: 25px;
}
}

.allImages .innerImg {
overflow: hidden;
}

.allImages img {
max-width: 500px;
max-height: 500px;
width: 100%;
width: auto;
object-fit: cover;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-o-filter: grayscale(100%);
-ms-filter: grayscale(100%);
filter: grayscale(100%);
transform: scale(1);
overflow: hidden;
transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.middleImg img {
height: 400px;
width: 100%;
object-fit: cover;
transform: scale(1);
overflow: hidden;
}

.allImages img:hover,
.doubleImg img:hover {
filter: none;
-webkit-filter: grayscale(0);
transform: scale(1.08889);
overflow: hidden;
opacity: 1;
}

.innerImg,
.innerImg img {
height: 200px;
width: 100%;
object-fit: cover;
}

.ovhdn {
overflow: hidden;
}

.doubleImg img {
height: 200px;
width: auto;
object-fit: cover;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-o-filter: grayscale(100%);
-ms-filter: grayscale(100%);
filter: grayscale(100%);
transform: scale(1);
overflow: hidden;
transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.innerMiddleImg {
height: 400px;
margin-top: auto;
margin-bottom: auto;
}

.middleImg {
height: 400px;
width: auto;
overflow: hidden;
position: relative;
}

.helpInfo {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
color: #fff;
padding-top: 70px;
}

.helpInfo h5 {
font-size: 24px !important;
}

.helpNumber {
font-size: 52px !important;
}

.helpText {
font-size: 19px;
}

.helpMsg {
font-size: 16px !important;
}

.letterSpacing{
letter-spacing: 6px;
}