.col-text {
    height:20em;
  }
  .grid-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row; 
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
  }
  .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .col-left {
    -webkit-box-ordinal-group:-1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .col-text{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    width: 60%;
  }
  .col-image {
    background-size: cover;
    background-position:center center;
  }
  
  @media (max-width: 640px) {
    .grid-flex {
      height: 40em;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      flex-direction: column; 
     }
    .col {
      order:vertical;
    }
    .col-left {
      -webkit-box-ordinal-group:0;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
    }
    .col-text div p {
      padding: 1em;
    }
    .Aligner-item {
      width: 90%;
    }
  }

/* what this means section  */
.whatthis001{
  background-color: #e0e0e0;
    padding: 38px 0px;
}

.whatthis001 h2{
  text-align: center;
  color: #6b6b6b;
  margin: 0px;
  margin-bottom: 9px;
  font-size: 19px!important;
}

.whatthis001 p{
    text-align: center;
    font-size: 82px;
}

.joinTeam001{
    background-color: #3db166;
    padding: 50px 0px;
    border-top: 1px solid #abaaaa;
  }
  
  .joinTeam001 h2{
    text-align: center;
    color: white;
    margin: 0px;
  }
  
  .joinTeam001 a{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 12px;
  }
  
  .joinTeam001 a:hover {
    color: white;
  }

#spin {
    color: #3db166;
    font-weight: 700;

  }

#spin:after {
    content:"";
    animation: spin 7s linear infinite;
}

@keyframes slidein-left {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slidein-right {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}

.right01 {  
  animation: 5s slidein-right infinite;
}

.left01 {  
  animation: 5s slidein-left infinite;
}

.infoPrduct01{
  color: #3db166;
  font-size: 54px;
}


@keyframes spin {
0% { content:"Product"}
50% { content: "Action"}
100% { content: "Yield" }
}
/* what this means section  */